<div class="contact" id="contact" ng-controller="ContactoController">

		<div class="izq hidden-xs">
			<h2>Ubicación</h2>
			<p class="direccion">Amoramar Jr. Garcia y Garcia 175<br/>
				Barranco - Lima, Perú</p>
			<p>	
				Teléfono: (511)4215996<br/>
				Horario: L-D de 1pm-5pm y 8pm-11pm
			</p>
			<h2>Informes</h2>	
			<p>Email: ventas@delibouquet.pe</p>
		</div>
		<div class="spacer hidden-xs">

			<span> </span>
		</div>
		<div class="der hidden-xs">
			<h2>Pedidos</h2>
			<p>(511)4215996 / 987167298
				<br/>&nbsp;<br/></p>
                           <p>     &nbsp;<br/>&nbsp;</p>
			<h2>Horarios</h2>
			<p>L-V de 9am-5pm y Sábado de 9am-1pm</p>
		</div>


 	<div class="centro visible-xs">		
		<h2>Ubicación</h2>
		<div class="direccion">Amoramar Jr. Garcia y Garcia 175<br/>
			Barranco - Lima, Perú
			<p>	
				telefono: (511)4215996<br/>
				Horario: L-D de 1pm-5pm y 8pm-11pm
			</p>			
		</div>
		<h2>Informes</h2>	
		<p>Email: ventas@delibouquet.pe</p>

		<h2>Pedidos</h2>
		<p>(511)4215996 / 987167298</p>
		<h2>Horarios</h2>
		<p>L-V de 9am-5pm y Sábado de 9am-1pm</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>

