<div class="contenido" id="contenido" ng-controller="DelibouquetController">
	<div class="text">Sé feliz. Come chocolate</div>
  <div class="row banner" id="banner_deli">

  </div>
</div>

<article class="about">
<p>
Un concepto diferente para hacer inolvidables tus momentos especiales. Delicados bouquets de coloridas flores que albergan el secreto de un delicioso chocolate en su interior.
</p>
<p>
Personaliza tus detalles en ocasiones especiales con Delibouquet. Escoge los modelos y flores que deseas, en variados colores y eligiendo entre chocolates exclusivos como Lindt, Baci y Montblanc.
</p>
<p>
Felicita, saluda, agradece, ofrece disculpas, sorprende, invita o di lo que sientas sin usar palabras. Regala flores con corazón de chocolate. Regala dulzura, regala amor.
</p>
<p>
    Haciendo clic <a ui-sref="public.arreglos" class="color-active">aquí</a>, llegas a la tienda virtual.
</p>
<br/><br/>
</article>

