
<div class="contenido" id="contenido" ng-controller="DeliveryController">
	<div class="text2">Sé feliz. Come chocolate</div>
	<div class="row banner" id="banner_delivery">
		
	</div>
</div>

<article class="informacion">
	<h2>Delivery</h2>
	<div>
<p>*NO REALIZAMOS ENVÍOS A PROVINCIAS. SOLO EN LIMA.</p>

<p>
	<b>Estos horarios pueden variar en fechas especiales pero será con previo aviso. </b> 
</p>
<ul>
	<li>
		Las entregas se realizarán por ahora sólo en algunos distritos de Lima.	
	</li>
	<li>
		Y si es un usuario registrado podrá ver en su historial de compras la confirmación de entrega.
	</li>
	<li>
		Si por algún motivo importante el envío no se pudiera concretar se le notificará al cliente para coordinar una reprogramación del pedido.
	</li>
	<li>
		En caso no se encuentre la persona indicada, se le dejará el presente a una persona mayor de edad que se encuentre en la dirección dada.
	</li>
</ul>

<p>Zonas de reparto Urbanos:</p>
<ul>
	<li>
		Barranco
	</li>
	<li>
		Jesus Maria
	</li>
	<li>
		Lince
	</li>
	<li>
		Magdalena del mar
	</li>
	<li>
		Miraflores
	</li>
	<li>
		Pueblo Libre
	</li>
	<li>
		San Isidro
	</li>
	<li>
		San Luis
	</li>
	<li>
		Surco
	</li>
	<li>
		Surquillo
	</li>
	<li>
		San Borja
	</li>
	<li>
		Chorrillos
	</li>
	<li>
		La Molina
	</li>
</ul>

<p>Tarifas Urbanas de envió: S/. 15.00</p>

<br/><br/>
<br/>
	
	</div>
</article>
