<div id="panelContenido" class="row" data-ng-controller="MainController"
     style="">
    
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10" 
         style="padding-left: 0;padding-right: 0;">
        
        <div class="barraSuperior row">
            <div class="logo">
                <img ng-src="img/logo-wiltons-express.png" class="img-responsive">
            </div>
        </div>
        
        <div id="fondo">
            <img id="imgBanner" ng-src="img/banner01{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[1]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

            <img id="imgBanner" ng-src="img/banner02{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[2]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

            <img id="imgBanner" ng-src="img/banner03{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[3]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

        </div>
        
            
    </div>
    
</div>
<br/>
            

