<div id="panelContenido" class="row" data-ng-controller="NuestraHistoriaController"
     style="">
    
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10" 
         style="padding-left: 0;padding-right: 0;height: 100%">
        
        <div class="barraSuperior row">
            <div class="logo">
                <img ng-src="img/logo-wiltons-express.png" class="img-responsive">
                
            </div>
        </div>
        
        <div id="fondo">
            <img ng-src="img/fondo-nuestra-historia.jpg" 
                class="img-responsive imgFondoNormal sample-show-hide visible-md visible-lg"
                ng-show="true"
                ng-animate="'animate'">
            <img ng-src="img/fondo-genericoTablet.jpg" 
                class="img-responsive imgFondoMovil sample-show-hide hidden-md hidden-lg"
                ng-show="true"
                ng-animate="'animate'">
            
            <div class="contenido">
                <div class="">
                    <div 
                        class="col-xs-offset-1 col-xs-10 col-md-offset-7 col-md-4">
                        <section class="text-justify" id="contenidoBody" style="position: relative;">
                            <h3>
                                NUESTRA HISTORIA
                            </h3>
                            <p>
                                Desde 1979 somos una empresa dedicada a la panadería y pastelería fina, cuyo objetivo principal es la satisfacción total de nuestros clientes, ofreciendo productos y servicios de alta calidad.
                            </p>
                            <p>
                                Con el transcurrir de los años  y la experiencia adquirida estamos convencidos de qye para poder lograr nuestro obejtivo, la estandarización en nuestros procesos  de
                                procucción, la implementación de tecnología de punta, un exhausto control de calidad, y la generación de productos innovadores y creativos, nos han convertido en una buena alternativa para nuestros clientes.                
                            </p>
                            <p>
                                Con el transcurrir de los años  y la experiencia adquirida estamos convencidos de qye para poder lograr nuestro obejtivo, la estandarización en nuestros procesos  de
                                procucción, la implementación de tecnología de punta, un exhausto control de calidad, y la generación de productos innovadores y creativos, nos han convertido en una buena alternativa para nuestros clientes.                
                            </p>
                            <p>
                                Con el transcurrir de los años  y la experiencia adquirida estamos convencidos de qye para poder lograr nuestro obejtivo, la estandarización en nuestros procesos  de
                                procucción, la implementación de tecnología de punta, un exhausto control de calidad, y la generación de productos innovadores y creativos, nos han convertido en una buena alternativa para nuestros clientes.                
                            </p>
                        </section>
                    </div>
                </div>
            </div>

        </div>
        
            
    </div>
    
</div>
<br/>
            

