<div class="container productos" ng-controller="CarroConfirmacionController">
    <div class="row subcontenido">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p class="bg-info">Su Orden de Compra ha sido procesada.</p>
        </div>

          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                    <h3>Orden de Compra</h3>
                  <p>
                      Número de Compra: &nbsp;&nbsp;&nbsp; {{pedido.head.idOrden}}
                      <br/>
                  </p> 
                  <p>
                      RUC Cliente: &nbsp;&nbsp;&nbsp; {{pedido.head.rucCliente}}
                      <br/>
                  </p> 
                  <p>
                      Nombre o Razon Social: &nbsp;&nbsp;&nbsp; {{pedido.head.razonSocial}}
                      <br/>
                  </p> 
                  <p>
                      Fecha de entrega programada: &nbsp;&nbsp;&nbsp; {{pedido.head.fechaEnvio}}
                      <br/>
                  </p> 
                  <p>
                      Dirección: &nbsp;&nbsp;&nbsp; {{pedido.head.direccionEnvio}}
                      <br/>
                  </p> 
                  <p>
                      Estado de compra: &nbsp;&nbsp;&nbsp; {{pedido.head.ordenEstado.languages[0].nombre}}
                      <br/>
                  </p> 
                  
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr class="well">
                              <th class="text-center">Descripción del producto</th>
                              <th class="text-center hidden-xs">Precio</th>
                              <th class="text-center hidden-xs">Cantidad</th>
                              <th class="text-center">Sub-total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pedido.detalle | orderBy:'productoNombre'" class="fondo-blanco">
                                <td width="30%" class="hidden-xs">
                                    <p>{{item.productoNombre}}</p>
                                </td>

                                <td width="40%" class="visible-xs">
                                    <p>{{item.productoNombre}}</p>
                                    <table class="table table-responsive table-bordered">
                                        <tr><td>Precio</td><td>Cantidad</td></tr>
                                        <tr>
                                            <td class="text-right">
                                                {{item.precioUnitario | currency:'S/.'}}
                                            </td>
                                            <td class="text-right">
                                                {{item.cantidad}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td width="12%" class="hidden-xs text-right">
                                    {{item.precioUnitario | currency:'S/.'}}
                                </td>
                                <td width="12%" class="hidden-xs text-right">
                                    {{item.cantidad}}
                                </td>
                                <td width="14%" class="text-right">
                                    {{item.precioTotal | currency:'S/.'}}
                                </td>
                            </tr>

                            <tr class="well hidden-xs">
                                <td colspan="2"></td>
                                <td>Sub-total</td>
                                <td class="text-right">{{pedido.head.total | currency:'S/.'}}</td>
                            </tr>
                            <tr class="hidden-xs">
                                <td colspan="2"></td>
                                <td class="well">Delivery</td>
                                <td class="text-right well">{{pedido.head.costoEnvio | currency:'S/.'}}</td>
                            </tr>
                            <tr class="hidden-xs">
                                <td colspan="2"></td>
                                <td class="well">Total</td>
                                <td class="text-right well">{{pedido.head.total + pedido.head.costoEnvio | currency:'S/.'}}</td>
                            </tr>


                            <tr class="well visible-xs">
                                <td >Sub-total</td>
                                <td class="text-right">{{pedido.head.total | currency:'S/.'}}</td>
                            </tr>
                            <tr class="visible-xs">
                                <td  class="well">Delivery</td>
                                <td class="text-right well">{{pedido.head.costoEnvio | currency:'S/.'}}</td>
                            </tr>
                            <tr  class="visible-xs">
                                <td class="well">Total</td>
                                <td class="text-right well">{{pedido.head.total + pedido.head.costoEnvio | currency:'S/.'}}</td>
                            </tr>

                        </tbody>
                    </table>
                                
              </div>
            </div>
          </div>

    </div>
    <br/><br/>
</div>

