<div class="contact" id="contact" ng-controller="ContactoController">

		<div class="izq hidden-xs">
			<h2>Ubicación</h2>
			<p class="direccion">&nbsp;<br/>
				Lima, Perú</p>
			<p>	
				Teléfono: (511)<br/>
				Horario: 
			</p>
			<h2>Informes</h2>	
			<p>Email: ventas@wiltons.pe</p>
		</div>
		<div class="spacer hidden-xs">

			<span> </span>
		</div>
		<div class="der hidden-xs">
			<h2>Pedidos</h2>
			<p>(511) 
				<br/>&nbsp;<br/></p>
                           <p>     &nbsp;<br/>&nbsp;</p>
			<h2>Horarios</h2>
			<p></p>
		</div>


 	<div class="centro visible-xs">		
		<h2>Ubicación</h2>
		<div class="direccion">&nbsp;<br/>
			Lima, Perú
			<p>	
				&nbsp;<br/>
				Horario:
			</p>			
		</div>
		<h2>Informes</h2>	
		<p>Email: ventas@wiltons.pe</p>

		<h2>Pedidos</h2>
		<p>(511)</p>
		<h2>Horarios</h2>
		<p>&nbsp;</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>

