<div class="contact" id="contact" ng-controller="ContactoController">
    <div class="visible-xs col-xs-12">
        <br/><br/><br/><br/>
    </div>

        <div class="centro" style="text-align: center;">		
		<h2>Ubicación</h2>
		<p>Av Aviacion 5161 Higuereta<br/>
			Lima, Perú
		</p>
		<h2>Informes</h2>	
		<p>Email: pedidos@wiltons.pe</p>

		<h2>Pedidos</h2>
		<p>Teléfono: (+511) 987-972065,<br/>(+511) 448-8546</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>

