<div class="contact" id="contact" ng-controller="ContactoController">
    <div class="visible-xs col-xs-12">
        <br/><br/><br/><br/>
    </div>

		<div class="izq hidden-xs">
			<h2>Ubicación</h2>
			<p class="direccion">Av Aviacion 5161 Higuereta - Lima<br/>
				Lima, Perú</p>
			<p>	
			</p>
			<h2>Informes</h2>	
			<p>Email: pedidos@wiltons.pe</p>
		</div>
		<div class="spacer hidden-xs">

			<span> </span>
		</div>
		<div class="der hidden-xs">
			<h2>Pedidos</h2>
			<p>Teléfono: (+511) 987-972065, (+511) 448-8546
				<br/><br/></p>
			<h2>Horarios</h2>
                        
			<p>&nbsp;</p>
		</div>


 	<div class="centro visible-xs">		
		<h2>Ubicación</h2>
		<div class="direccion">Av Aviacion 5161 Higuereta - Lima<br/>
			Lima, Perú
			<p>	
			</p>			
		</div>
		<h2>Informes</h2>	
		<p>Email: pedidos@wiltons.pe</p>

		<h2>Pedidos</h2>
		<p>Teléfono: (+511) 987-972065, (+511) 448-8546</p>
		<h2>Horarios</h2>
		<p>&nbsp;</p>
	</div>		

</div>


	<div class="contact-map">
		<div id="map_canvas">

		</div>
	</div>

