<div class="contenido" id='contenido' ng-controller="DeliveryController" style="overflow: visible">
    <div class="banner" id="banner" style="overflow: visible">
    
      <div id="fondo">
          <article id="content-text"
                     style="padding-top: 3.9%;">

            <h1 class="text-center">Delivery</h1>
            <div>
                <p>
                Para el servicio de entrega a domicilio solo se consideran los distritos indicado en la tabla superior.
                Se hará un recargo adicional dependiendo del destino final del pedido. Los montos son los que se muestran en 
                la tabla superior.
                </p>

                <p>
                    Coordinar con 72 horas de anticipación la dirección y la hora de entrega vía mail a pedidos@wiltons.pe o 
                    llamando al 448-8546 ó 448-4392.
                </p>
                <br/>
                
                <div class="">
                <table border="1" class="delivery">
                    <tr>
                        <td>ATE</td>
                        <td>S/. 25.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>BARRANCO</td>
                        <td>S/. 10.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>BELLAVISTA</td>
                        <td>S/. 25.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>BREÑA</td>
                        <td>S/. 15.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>CHORRILLOS</td>
                        <td>S/. 20.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>INDEPENDENCIA</td>
                        <td>S/. 36.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>JESUS MARIA</td>
                        <td>S/. 15.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>LA MOLINA</td>
                        <td>S/. 22.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>LA VICTORIA</td>
                        <td>S/. 15.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>LIMA</td>
                        <td>S/. 15.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>LINCE</td>
                        <td>S/. 13.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>LOS OLIVOS</td>
                        <td>S/. 30.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>MAGDALENA DEL MAR</td>
                        <td>S/. 15.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>MIRAFLORES</td>
                        <td>S/. 12.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>PUEBLO LIBRE</td>
                        <td>S/. 18.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN BORJA</td>
                        <td>S/. 12.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN ISIDRO</td>
                        <td>S/. 13.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN JUAN DE LURIGANCHO</td>
                        <td>S/. 36.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN JUAN DE MIRAFLORES</td>
                        <td>S/. 18.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN LUIS</td>
                        <td>S/. 13.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN MARTIN DE PORRES</td>
                        <td>S/. 30.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SAN MIGUEL</td>
                        <td>S/. 20.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SANTA ANITA</td>
                        <td>S/. 20.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SURCO</td>
                        <td>S/. 14.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>SURQUILLO</td>
                        <td>S/. 10.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>VILLA EL SALVADOR</td>
                        <td>S/. 30.00 SOLES</td>
                    </tr>
                    <tr>
                        <td>VILLA MARIA DEL TRIUNFO</td>
                        <td>S/. 25.00 SOLES</td>
                    </tr>
                </table>

                </div>

                <br/>

            </div>


            </article>

            <img ng-src="img/fondos/fondo-generico.jpg"
                class="img-responsive imgFondoNormal sample-show-hide visible-md visible-lg"
                ng-show="true" id="imgFondo"
                ng-animate="'animate'">
            <img ng-src="img/fondos/fondo-genericoTablet.jpg"
                class="img-responsive imgFondoMovil sample-show-hide hidden-md hidden-lg"
                ng-show="true" id="imgFondo"
                ng-animate="'animate'">


        </div>
    </div>
</div>


