<div class="contenido" id='contenido' ng-controller="FormasPagoController" style="overflow: visible">
    <div class="banner" id="banner" style="overflow: visible">
    
        <img ng-src="img/fondos/fondo-generico.jpg" style="position: absolute"
            class="img-responsive imgFondoNormal sample-show-hide visible-md visible-lg"
            ng-show="true" id="imgFondo"
            ng-animate="'animate'">
        <img ng-src="img/fondos/fondo-genericoTablet.jpg"  style="position: absolute"
            class="img-responsive imgFondoMovil sample-show-hide hidden-md hidden-lg"
            ng-show="true" id="imgFondo"
            ng-animate="'animate'">


        <article class="informacion" style="position: relative;background-color: transparent;margin: 2.7em;padding-top: 2%;">
            <h2>Formas de Pago</h2>
            <div>
                    <p><b>Deposito a cuenta.</b></p>
                    <p>
                    BANCO DE CREDITO<br/>
                    Cta. Cte. No. <br/>

                    A nombre de: XXXXX Una vez realizado el depósito le agradeceremos nos envíe un correo a ventas@wiltons.pe indicando su nombre completo, número de orden, fecha del depósito, banco y monto respectivo ó el voucher de pago escaneado. Luego de esto procesaremos su pedido.
                    </p>


            </div>
        </article>
    </div>
</div>
