<div class="contenido" id='contenido' ng-controller="FormasPagoController" style="overflow: visible">
    <div class="banner" id="banner" style="overflow: visible">
    
      <div id="fondo">
        <div id="content-panel" class="">
          <article id="content-text" class=""
                     style="margin: auto;">

            <div class="content-body" style="padding-top: 8%;overflow: auto;">

                <h1 class="text-center hidden-xs">Formas de Pago</h1>
                <h3 class="text-center visible-xs">Formas de Pago</h3>
                <p><b>Deposito a cuenta.</b></p>
                <p>
                BANCO DE CREDITO<br/>
                Cta. Cte. No. <br/>

                A nombre de: XXXXX Una vez realizado el depósito le agradeceremos nos envíe un correo a ventas@wiltons.pe indicando su nombre completo, número de orden, fecha del depósito, banco y monto respectivo ó el voucher de pago escaneado. Luego de esto procesaremos su pedido.
                </p>
            </div>

        </article>
          </div>
        <img id="imgFondo"  ng-src="img/fondos/fondo-generico{{tipoImg}}.jpg" 
            class="img-responsive sample-show-hide"
            ng-show="true"
            ng-animate="'animate'">


          </div>
      </div>
</div>
