
<div class="contenido" id="contenido" ng-controller="FormasPagoController">
	<div class="text2">Sé feliz. Come chocolate</div>
	<div class="row banner" id="banner_formaspago">
		
	</div>
</div>

<article class="informacion">
	<h2>Formas de Pago</h2>
	<div>

		<p><b>Deposito a cuenta.</b></p>
		<p>
		BANCO DE CREDITO<br/>
		Cta. Cte. No. 193 - 2100552 - 0 - 96<br/>
		
		A nombre de: Retoser SAC Una vez realizado el depósito le agradeceremos nos envíe un correo a ventas@delibouquet.pe indicando su nombre completo, número de orden, fecha del depósito, banco y monto respectivo ó el voucher de pago escaneado. Luego de esto procesaremos su pedido.
		</p>


		<p><b>Pago Online con Visa, Paypal.</b></p>
		<p>
			Para poder realizar pedidos online solo debes de seguir los siguientes pasos:
		</p>
		<ul>
			<li>
				Agregar los productos que se desea pedir a la Cesta de Compra.
			</li>
			<li>
				Registrar los datos de envio.
			</li>
			<li>
				Confirmar el pedido.
			</li>
		</ul>

<br/><br/><br/>

	</div>
</article>
