<div class="contenido" id="contenido" data-ng-controller="MainController">
  <div class="banner" id="banner">

      <div id="fondo" >
            <img id="imgBanner" ng-src="img/fondos/banner01{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[1]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

            <img id="imgBanner" ng-src="img/fondos/banner02{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[2]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

            <img id="imgBanner" ng-src="img/fondos/banner03{{tipoImg}}.jpg" 
                class="img-responsive sample-show-hide"
                ng-show="mostrarBanner[3]"
                ng-animate="'animate'"
                data-animation="am-slide-left">

        </div>
        
                  
  </div>
    <br/><br/>
</div>
