<div class="contenido" id="contenido" ng-controller="NosotrosController">
  <div class="banner" id="banner">

      <div id="fondo" class="">
          
        <div id="content-panel" class="nosotros">
            <article id="content-text"
                         style="margin: auto;">

                <div class="content-body" style="text-align: right;">
                
                    <div class="col-sm-5 col-sm-offset-7 col-lg-5 col-lg-offset-7 col-xs-7 col-xs-offset-5" >
                        <h4><b>
                            Acerca de Nosotros
                            </b>
                        </h4>
                        <p>
                            Desde 1979 somos una empresa dedicada a la panadería y pastelería fina, cuyo objetivo principal es la satisfacción total de nuestros clientes, ofreciendo productos y servicios de alta calidad.
                        </p>
                        <p>
                            Con el transcurrir de los años  y la experiencia adquirida estamos convencidos de que para poder lograr nuestro objetivo, la estandarización en nuestros procesos  de
                            producción, la implementación de tecnología de punta, un exhausto control de calidad, y la generación de productos innovadores y creativos, nos han convertido en una buena alternativa para nuestros clientes.                
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <img id="imgFondo"  ng-src="img/fondos/fondo-nuestra-historia{{tipoImg}}.jpg" 
            class="img-responsive sample-show-hide"
            ng-show="true"
            ng-animate="'animate'">
    </div>
        
                  
  </div>
</div>
