<div class="contenido" id='contenido' ng-controller="PoliticasController" style="overflow: visible">
    <div class="banner" id="banner" style="overflow: visible">
    
      <div id="fondo">
            <article id="content-text"
                     style="padding-top: 2%;">

            <h1 class="text-center hidden-xs">Política para Atención de Pedidos:</h1>
            <h3 class="text-center visible-xs">Política para Atención de Pedidos:</h3>
            <div class="text-center">
                <p>
Los pedidos de Tortas Infantiles, Bocaditos Dulces y Salados, Panes, Sandwichitos, Postres y Pasteles 
se realizarán con 72 horas de anticipación con previa consulta vía mail a pedidos@wiltons.pe o 
llamando al 448-8546 ó 448-4392. Los pedidos de Ocasiones Especiales deberán ser consultados vía 
mail a pedidos@wiltons.pe o llamando al 448-8546 ó 448-4392. La fecha de entrega dependerá del 
grado de elaboración que requiera el producto.El plazo de las 72 horas de anticipación se iniciará a 
partir de la cancelación total del pedido.Todos los precios de la página web ya incluyen IGV.
Los pedidos deberán ser cancelados previamente ya sea a través de una transferencia al siguiente 
número de cuenta BCP (CTA. CTE. BCP 194-0931731-0-23 ó CODIGO INTERBANCARIO 
(002-194-000931731023-94) a nombre de Wilton’s S.A.C. ó cancelando en caja al local de la Av. 
Aviación 5161 Urb. Higuereta Santiago de Surco.
Las transferencias bancarias deberán ser acompañadas con una constancia emitida por el banco y 
reenviada a mail pedidos@wiltons.pe con los datos del cliente. La empresa mandará un mail de 
confirmación y correrán las 72 horas para la realización del pedido.
El recojo del pedido podrá realizarse el día de la entrega a partir de las 8:00 a.m. hasta las 8:30 p.m. 
en el local ubicado en Av. Aviación 5161 Urb. Higuereta Santiago de Surco. El pedido deberá ser 
recogido dentro de un plazo de 24 horas posteriores a la fecha pactada. Pasado las 24 horas el 
pedido ya no estará disponible y no habrá lugar a reclamo.
Para el servicio de entrega a domicilio se deberá poner en contacto vía mail a pedidos@wiltons.pe o 
llamando al 448-8546 ó 448-4392 para indicar la dirección final de destino y la hora (respetando las 72 
horas de anticipación a partir del pago). Se adicionará un recargo de envío dependiendo de la zona o 
distrito al cual se dirige.                    
                </p>
            </div>
        </article>
            <img ng-src="img/fondos/fondo-generico.jpg"
                class="img-responsive imgFondoNormal sample-show-hide visible-md visible-lg"
                ng-show="true"
                ng-animate="'animate'">
            <img ng-src="img/fondos/fondo-genericoTablet.jpg"
                class="img-responsive imgFondoMovil sample-show-hide hidden-md hidden-lg"
                ng-show="true"
                ng-animate="'animate'">

          </div>
      </div>
</div>
