<div class="container productos" ng-controller="ProductosBusquedaController">

  <div class="row subcontenido">

    <div class="col-sm-12 col-md-12">
      <div class="row">

          <div class="col-sm-12 col-md-12 text-center titulo-bar">
            Resultado de búsqueda de "{{querySearch}}" : {{total}} coincidencias
          </div>


          <div class=" col-xs-12 col-sm-6 col-md-4" ng-repeat="p in productos" id="item-producto">
            <div class="thumbnail sin-fondo sin-borde">
                <img fallback-src="img/sin-imagen.png"
                  ng-src="/web/m_cart/files/producto/{{p.imagen}}" 
                  alt="img1" width="179" height="179" class="img-circle">
              <div class="caption">
                <h4 class="text-center">{{p.nombre_producto}}</h4>
                
                <p ng-if="p.precio1 <= 0 || p.precio2 <= 0" class="precio">
                    {{p.precio | currency:'S/.'}}
                </p>

                <div ng-if="isNumber(p.precio1) && isNumber(p.precio2) && p.precio1 > 0 && p.precio2 > 0" ng-init="p.precio = 0"
                     class="select-precio">
                    <select class="form-control input-sm btn-primary" 
                    ng-init="precio=p.precio1;changePrecio(p, precio);"

                    ng-model="precio" ng-change="changePrecio(p, precio)">
                      <option ng-value="p.precio1"
                        ng-selected="true">
                        Chocolate Lindt - {{p.precio1 | currency:'S/.'}}
                      </option>
                      <option ng-value="p.precio2">
                        Chocolate Montblanc - {{p.precio2 | currency:'S/.'}}
                      </option>
                    </select>
                </div>
                
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td>
                      <a href="#/detalle-producto/{{p.idproducto}}" role="button"><small>Ver detalle</small></a> 
                    </td>
                    <td class="text-right">
                      <a class="btn btn-sm btn-block btn-agregar" role="button"
                         ng-click="agregarProducto(p.idproducto, p.nombre_producto, p.imagen, p.precio, 1)"
                         ng-disabled="p.precio <= 0">
                          + Agregar a carro
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
        
      </div>

    </div>

  </div>
  <br/><br/>


</div>

