<div class="contenido " id="contenido" ng-controller="PromocionController">
  <div class="banner" id="banner">

      <div id="fondo" style="margin-left:7%;margin-right:7%;">
          
            <article id="content-text-blank"
                         style="margin: auto;background-color:#a10442;">

                <div class="owl-carousel visible-xs" id="owl-promociones-movil">
                        <img ng-repeat="contenido in contenidos" 
                            fallback-src="img/sin-imagen.png" 
                            ng-src="{{rootUrl}}/backend/web/m_web/files/content/{{contenido.adjunto}}" class="img-responsive center-block" style="display: block;width: 100%;height: auto;"/>
                </div>

                <div class="owl-carousel visible-sm" id="owl-promociones-tablet">
                        <img ng-repeat="contenido in contenidos" 
                            fallback-src="img/sin-imagen.png" 
                            ng-src="{{rootUrl}}/backend/web/m_web/files/content/{{contenido.imagen2}}" class="img-responsive center-block" style="display: block;width: 100%;height: auto;"/>
                </div>

                <div class="owl-carousel visible-md visible-lg" id="owl-promociones-pc">
                        <img ng-repeat="contenido in contenidos" 
                            fallback-src="img/sin-imagen.png" 
                            ng-src="{{rootUrl}}/backend/web/m_web/files/content/{{contenido.imagen}}" class="img-responsive center-block" style="display: block;width: 100%;height: auto;"/>
                </div>
            </article>
    </div>
        
                  
  </div>
</div>
